#
#        .d8888b.  888b    888        d8888 8888888b. 88888888888 Y88b   d88P
#       d88P  Y88b 8888b   888       d88888 888   Y88b    888      Y88b d88P
#       Y88b.      88888b  888      d88P888 888    888    888       Y88d88P
#        "Y888b.   888Y88b 888     d88P 888 888   d88P    888        Y888P
#           "Y88b. 888 Y88b888    d88P  888 8888888P"     888        d8888b   
#             "888 888  Y88888   d88P   888 888 T88b      888       d888Y88b
#       Y88b  d88P 888   Y8888  d8888888888 888  T88b     888      d88P  Y88b
#        "Y8888P"  888    Y888 d88P     888 888   T88b    888     d88P    Y88b   
#
#               Version 1.0
#               Tirim4  2025
#                CC-BY-SA

#__by Cody Mortensen
#__based on Original Theme: SPAZZ by Chuck Lardo & Spinoffs SNAZZ/SNAZZ2 by Jihoon Kim and SNAZZY by Phil Graves and SNARTY by Simon Andén
#__some elements & code altered from adwaitapod by even Dook
#__licence  CC-BY-SA 4.0
#__target resolution 360x640 (portrait)
#__original tested on iPod Classic 6th Gen - Previous Spinoffs tested on Hifi Walker H2
#__last updated 06/09/2026

#__CFG File


wps: /.rockbox/wps/SNARTX.wps
sbs: /.rockbox/wps/SNARTX.sbs
fms: -
iconset: /.rockbox/icons/SNARTX.bmp
viewers iconset: /.rockbox/icons/SNARTX_viewer.bmp
font:  /.rockbox/fonts/29-KodeMono-SemiBold.fnt


#--- General Settings ---#

background color: 390018
foreground color: FF0042
backdrop: -
filetype colours: -
show icons: on
selector type: bar (inverse)
scrollbar: off

#--- EXTRAS REMOVE # To Enable ---#

#--- Touchscreen: Absolute Point is what makes taps/drags on the progress bar seek ---#
# Rockbox ignores skin touch areas while the touchscreen is in 3x3 Grid mode.
#touchscreen mode: point

#--- Time/Brightness/Keyclick ---#
#brightness: 32
#time format: 24hour
#hardware keyclick: on

#--- LCD Settings ---#
#backlight on button hold: on

#--- Peak Meter ---#
#peak meter clip hold: 1
#peak meter hold: 300ms
#peak meter release: 6
#peak meter dbfs: off
#peak meter min: 0
#peak meter max: 100
#peak meter clipcounter: on
#peak meter scale: linear (%)

#--- Quickscreen ---#
#qs top: brightness
#qs left: shuffle
#qs right: repeat
#qs bottom: brightness
#
#
